In [226]:
import pandas as pd
import numpy as np
import math as mt

In [227]:
created_df = pd.read_csv('C:\\Users\enjin\Desktop\privacy\data_ori2.csv') #조건 충족 못하는 비식별 파일
created_df = created_df[['일련번호','나이', '성별','가입점','시도','신용등급','월소득']]
QI = pd.Series(['성별','가입점','시도']) #k값 만족해야하는 준식별자

In [228]:
for i in range(len(QI)):
    #정렬
    created_df = created_df.sort_values(by=[QI[i]])
    created_df = created_df.reset_index(drop=True)
    #index 매기기
    tmp = created_df[QI[i]][0]
    group_num=0
    for j in range(len(created_df.index)):
        if created_df[QI[i]][j]==tmp:
            created_df[QI[i]][j] = group_num ##걍 지워도 되겠지?^^
        else:
            group_num=group_num+1
            tmp = created_df[QI[i]][j]
            created_df[QI[i]][j] = group_num

C:\Users\enjin\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\enjin\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [229]:
created_df['k_index'] = 0
for i in range(len(created_df)):
    created_df['k_index'][i] = "_"+str(created_df['성별'][i])+"_"+str(created_df['가입점'][i])+"_"+str(created_df['시도'][i])

C:\Users\enjin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [230]:
from collections import Counter
counts = Counter(created_df['k_index'])
print(counts)

Counter({'_0_1_1': 2171, '_1_1_1': 2075, '_0_1_9': 1264, '_1_1_9': 1213, '_1_0_1': 624, '_0_0_1': 604, '_1_0_9': 390, '_0_0_9': 383, '_1_1_11': 357, '_0_2_1': 336, '_0_1_11': 321, '_1_2_1': 263, '_1_1_3': 199, '_1_1_4': 194, '_0_1_15': 193, '_0_2_9': 188, '_0_1_3': 181, '_1_2_9': 181, '_1_1_15': 177, '_0_1_4': 176, '_1_1_0': 133, '_1_1_8': 124, '_0_1_13': 123, '_0_1_16': 123, '_0_1_8': 122, '_1_1_16': 116, '_0_1_0': 114, '_0_0_11': 111, '_1_1_12': 111, '_1_1_13': 111, '_0_1_6': 107, '_0_1_12': 106, '_1_1_7': 102, '_1_1_6': 95, '_0_1_7': 95, '_1_0_11': 91, '_1_1_10': 71, '_1_1_5': 58, '_0_1_14': 57, '_1_0_3': 55, '_1_2_11': 54, '_0_2_11': 53, '_0_1_10': 52, '_0_1_5': 49, '_0_0_3': 48, '_1_1_14': 47, '_0_0_4': 45, '_1_0_8': 44, '_0_0_8': 44, '_1_0_15': 42, '_1_0_0': 41, '_0_0_15': 41, '_0_0_0': 39, '_1_0_4': 39, '_1_0_16': 35, '_0_0_12': 31, '_0_0_6': 30, '_0_0_7': 30, '_1_0_12': 30, '_1_0_13': 30, '_0_2_15': 29, '_0_0_16': 28, '_0_2_3': 26, '_0_0_13': 25, '_1_2_4': 24, '_1_0_6': 24, '_1_0_7': 24, '_0_2_8': 23, '_1_2_15': 23, '_0_0_10': 22, '_1_2_0': 21, '_0_0_5': 20, '_1_2_3': 19, '_0_2_4': 18, '_0_2_7': 18, '_1_2_16': 18, '_1_0_5': 17, '_1_2_6': 17, '_1_2_13': 17, '_0_0_14': 17, '_1_2_7': 16, '_1_0_10': 16, '_0_2_0': 15, '_1_2_8': 14, '_1_2_12': 13, '_0_2_6': 12, '_0_2_12': 12, '_0_2_13': 12, '_0_2_14': 12, '_1_0_14': 12, '_0_2_10': 11, '_1_2_14': 11, '_0_2_16': 11, '_1_2_5': 10, '_1_2_10': 9, '_0_2_5': 6, '_0_1_2': 2, '_1_0_2': 1, '_1_2_2': 1, '_1_1_2': 1})

In [231]:
s = {'_0_1_2', '_1_0_2', '_1_2_2', '_1_1_2'}

count = 0 #k값 만족 못하는 것들 개수
for i in range(len(created_df)):
    if  (created_df['k_index'][i] in s):
        count=count+1
        print(created_df['일련번호'][i])

print(count)

13383341
26417689
14010939
21925311
13480686
5

In [234]:
#행 삭제
for i in range(len(created_df)):
    if  (created_df['k_index'][i] in s):
        created_df.drop(i, inplace=True)

In [235]:
created_df

           일련번호  나이 성별 가입점  시도  신용등급       월소득  k_index
0      21044651  33  0   1   0     3  11917317   _0_1_0
1      13668994  41  1   0   0     6   3013333   _1_0_0
2      20577199  14  1   2   0     6     42500   _1_2_0
3      10538098  54  0   0   0     1   8059167   _0_0_0
4      21050562  54  0   1   0     7   1049167   _0_1_0
...         ...  .. ..  ..  ..   ...       ...      ...
14961  25973471  43  0   1  16     1   8082500  _0_1_16
14962  18797275  50  0   0  16     5   8025833  _0_0_16
14963  24091914  67  1   0  16     2   1077500  _1_0_16
14964  15388571  48  1   2  16     4     17500  _1_2_16
14965  22163855  66  0   1  16     9   1043333  _0_1_16

[14961 rows x 8 columns]